<!DOCTYPE html>
<html lang="en">
<!--
  Name: Carlos Villarreal
  Date: 10.10.2024
  CSC 372-01

  This is my admin-products page. This page gives a quick look at all the listed products. It will let the admin
  delete, archive, or edit products. 
-->

<head>
    <meta charset="utf-8">
    <title>PlayStation Nation - Admin Products</title>
    <link rel="stylesheet" href="/styles/admin.css">
    <script src="/js/admin-products.js" defer></script>
</head>

<body>
    <header>
        <%- include('../partials/_navbar') %>
        <h1><u>PlayStation Nation</u></h1>
        <h3>Your journey to greatness starts here.</h3>
    </header>

    <main class="main-content">
        <h2 class="page-title"><u>Administrator Product Management</u></h2>
        <table class="product-table">
            <thead class="table-header">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(product => { %>
                    <tr class="table-row">
                        <td><%= product.Id %></td>
                        <td><%= product.Name %></td>
                        <td><%= product.Category_Id %></td>
                        <td>$<%= product.Price.toFixed(2) %></td>
                        <td><%= product.Stock %></td>
                        <td class="table-cell-actions">
                            <a href="/admin/products/edit/<%= product.Id %>" class="edit action-button">Edit</a>
                            <button class="delete action-button" data-id="<%= product.Id %>">Delete</button>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>

        <div class="add-product">
            <button id="add-product-button">Add New Product</button>
        </div>
    </main>

    <footer class="pre-format">
        Copyright © 2024 PlayStation Nation
        PlayStation Nation Productions
        All rights reserved
    </footer>
</body>

</html>
